.home-screen {
  width: auto;
  height: 100vh;
  background-image: url('@/assets/hot-air-balloon.png'), url('@/assets/hot-air-balloon2.png');
  background-size: 30%, 35%; 
  background-position: top 1em left 1em, bottom 2em right 2em; 
  background-repeat: no-repeat, no-repeat; 
  background-attachment: fixed;
  overflow: scroll;

  .context-container{
    margin: 20vh 1em 1.5em;
    height: fit-content;
    padding: 20px;

    h1{
      text-shadow: 2px 2px #FFF;
      font-size: 2.5em;
    }
  }
}

button.math {
  font-family: 'Fredoka', sans-serif;
  background-color: #1db4eb; /* Blue */
  font-size: 1.5em;
  color: white;
}

button.math:hover {
  background-color: #0f8cb9; /* Darker Blue for hover effect */
}

button.reading {
  font-family: 'Fredoka', sans-serif;
  font-size: 1.5em;
  background-color: #f7d979; /*yellow */
  color: #333;
}

button.reading:hover {
  background-color: #debb47; /* Darker yellow for hover effect */
}

.icon{
    margin:5px 10px; 
}