.quiz-screen {
  margin: 8vh 20px;
  width: auto;
  background-image: url('@/assets/hot-air-balloon.png');
  background-size: 20%; 
  background-position: top left; 
  background-repeat: no-repeat; 
}

.quiz-screen::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: 0.5; 
  background-image: url('@/assets/bee-705412_1280.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: bottom -50px right -20px; 
}

.quiz-container {
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h2{
      margin: 0em auto 0.5em;
      font-weight: 400;
    }

    .setting-btn{
      margin: 0px 10px 5px;
      background-color: cornsilk;
  }
}