//for the most master level css styling and ovewriting styles 
body {
  margin: 0;
  padding: 0;
  place-items: center;
  background: #87CEFA; /* Sky blue background */
}

.App {
  font-family: 'Fredoka', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  height: 100vh;
  margin: 0;
  font-size: 1.5em;
}

.App::before, .not-found-page::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 1;
  z-index: -1;
  background-image: url(/src/assets/cloud.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.home-screen {
  width: auto;
  height: 100vh;
  background-image: url('./assets/hot-air-balloon.png'), url('./assets/hot-air-balloon2.png');
  background-size: 30%, 35%; 
  background-position: top 1em left 1em, bottom 2em right 2em; 
  background-repeat: no-repeat, no-repeat; 
  background-attachment: fixed;
  overflow: scroll;
  align-content:space-around;

  .context-container{
    margin: auto 1em 1.5em;
    height: fit-content;
    padding: 20px;

    h1{
      text-shadow: 2px 2px #FFF;
      font-size: 2.5em;
    }
  }
}

header.header-bar{
  background-color:transparent;
  box-shadow: none;
  
  a{
    width: fit-content;
    color: #fff;
    text-decoration: none;
  }
}
